---
name: assign-author

on:
  issues:
    types: [opened, reopened]
  pull_request_target:
    types: [opened, reopened]

permissions: {}

jobs:
  assign-author:
    permissions:
      issues: write
      pull-requests: write
    uses: andreygrechin/github-actions/.github/workflows/assign-author.yml@2920bcbd41f31201daaf7b42868cfc348e5a3de2 # v1.0.0
