---
name: build

on:
  push:
    tags: ["v*"]
    paths:
      - .github/workflows/*.yml
      - "**/*.go"
      - go.*
      - Makefile
      - .golangci.yaml
  pull_request:
    branches: ["main"]
    paths:
      - .github/workflows/*.yml
      - "**/*.go"
      - go.*
      - Makefile
      - .golangci.yaml

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  golang-security:
    uses: andreygrechin/github-actions/.github/workflows/golang-security.yml@main
    permissions:
      contents: read
      pull-requests: read
    with:
      go-version: "1.25.4"

  lint:
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25.4"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: go vet
        run: go vet ./...

      - uses: dominikh/staticcheck-action@v1
        with:
          install-go: false
          version: latest

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2
          args: --show-stats

  build:
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: read
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go-version: ["1.25.4"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: go mod download
      - name: Build
        run: make build
      - name: Run tests
        run: go test -coverprofile=coverage.txt -v ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
