---
name: cleanup-caches

on:
  pull_request:
    types:
      - closed

permissions: {}

jobs:
  cleanup-caches:
    permissions:
      actions: write
    uses: andreygrechin/github-actions/.github/workflows/cleanup-caches.yml@2920bcbd41f31201daaf7b42868cfc348e5a3de2 # v1.0.0
