---
name: gitleaks

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
    tags: ["v*"]
  schedule:
    - cron: 45 21 * * FRI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gitleaks:
    permissions:
      contents: read
      pull-requests: read
    uses: andreygrechin/github-actions/.github/workflows/gitleaks.yml@main
